
  <ul class='item-lists'>
  <li class='list'>   
    <%= link_to item_path(item.id) do%>
      <div class='item-img-content'>
       <%= image_tag item.image, class: "item-img" if item.image.attached? %>
           <%# soldout %>
          <% if item.order != nil %><%# もしitem(id=5).order(item_id=5)がなければsoloutを表示する %>
          <div class='sold-out'>
            <span>Sold Out!!</span>
          </div>
          <% end %>
            <%# soldout %>
      </div>
        <div class='item-info'>
          <h3 class='item-name'>
        <%= item.item_name %>
          </h3>
          <div class='item-price'>
            <span><%= item.price %>円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        </li>
      <% end %>
    </ul>


